---
export interface Props {
	title: string;
	desc: string;
	lang: 'en' | 'fa';
	slug: string;
}

let { title, desc, lang, slug } = Astro.props;

title = 'karim.run | ' + title;
slug = 'https://karim.run' + '/' + slug;

let dir = 'ltr';

if (lang === 'fa') {
	dir = 'rtl';
}
---

<!DOCTYPE html>
<html lang={lang} dir={dir}>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
		<link rel='apple-touch-icon' sizes='57x57' href='/favicon/apple-icon-57x57.png' />
		<link rel='apple-touch-icon' sizes='60x60' href='/favicon/apple-icon-60x60.png' />
		<link rel='apple-touch-icon' sizes='72x72' href='/favicon/apple-icon-72x72.png' />
		<link rel='apple-touch-icon' sizes='76x76' href='/favicon/apple-icon-76x76.png' />
		<link rel='apple-touch-icon' sizes='114x114' href='/favicon/apple-icon-114x114.png' />
		<link rel='apple-touch-icon' sizes='120x120' href='/favicon/apple-icon-120x120.png' />
		<link rel='apple-touch-icon' sizes='144x144' href='/favicon/apple-icon-144x144.png' />
		<link rel='apple-touch-icon' sizes='152x152' href='/favicon/apple-icon-152x152.png' />
		<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-icon-180x180.png' />
		<link rel='icon' type='image/png' sizes='192x192' href='/favicon/android-icon-192x192.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='96x96' href='/favicon/favicon-96x96.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
		<link rel='manifest' href='/favicon/manifest.json' />
		<meta name='msapplication-TileColor' content='#ffffff' />
		<meta name='msapplication-TileImage' content='/ms-icon-144x144.png' />
		<meta name='theme-color' content='#ffffff' />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Roboto+Mono&display=swap'
			rel='stylesheet'
		/>
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content={desc} />
		<link rel='canonical' href={slug} />
		<meta property='og:type' content='blog' />
		<meta property='og:url' content={slug} />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={desc} />
		<meta property='og:site_name' content='karim.run' />
		<meta property='og:locale' content='en_US' />
		<meta name='twitter:card' content='summary' />
		<meta name='twitter:site' content='@imkarimkarim' />
		<meta name='twitter:url' content={slug} />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={desc} />
		<title>{title}</title>
	</head>
	<body class='bg-slate-200 dark:bg-[#181c25] text-gray-800 dark:text-gray-200 font-sans'>
		<slot />
	</body>
</html>
